<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/perso.css">
    <link rel="stylesheet" href="stylesheets/advice.css">
    <title></title>
  </head>
  <body>
    <div class="col-lg-12 col-sm-12 col-md-12">
      <div class="row background-color">
        <!-- NAVBAR DU HAUT -->
        <navbar>
          <div class="title">
            <div class="right_header" class="btn-group">
              <button class="btn" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mon compte</button>
              <div id="deconnexion" class="dropdown-menu dropdown-menu-right">
                <a href="/perso" class="dropdown-item" type="">Modifier mon compte</a>
                <a href="/upload_img" class="dropdown-item" type="">Upload</a>
                <a href="/galerie" class="dropdown-item" type="">Galerie</a>
                <a href="/advice" class="dropdown-item" type="">Conseils</a>
                <a href="/dashboard"class="dropdown-item" type="">Dashboard</a>
                <a href="/logOut" class="dropdown-item" type="">Déconnexion</a>
              </div>
            </div>
            <div class="liseret"></div>
          <span><h6 class="name"><a href="/dashboard"class="btn-principal" type=""><span id="first-letter">V</span>ivo</a></h6></span>
          </div>
        </navbar>
      </div>
    </div>
    <!-- FIN NAVBAR -->
    <h4 class="conseil" style="margin: 150px 0  50px 0; text-align: center">Conseils</h4>
    <div class="card-advice">
      <h5 class="name"><span id="first-letter">S</span>urveiller son alimentation</h5>

            <p>L’alimentation détermine grandement notre état de santé.
                De manière générale, il est recommandé de réduire sa consommation de sel,
                sucre raffiné, acides gras saturés (viande, produits laitiers), acides gras trans
                (certaines margarines), pour privilégier les acides gras insaturés
                (oléagineux, poissons gras, huiles végétales), les fruits, les légumes
                et les céréales complètes. Pour les mêmes raisons, mieux vaut éviter les
                plats industriels et les repas pris. </p>
</div>


<div class="card-advice">
      <h5 class="name"><span id="first-letter">P</span>ratiquer une activité sportive régulière</h5>

            <p>Les activités physiques permettent de garder la ligne,
              favorisent la longévité et aident à prévenir le déclin des fonctions
               immunitaires. A défaut de pratiquer un sport, il est recommandé de marcher
                30 minutes par jour à un rythme soutenu.</p>
</div>


<div class="card-advice">
        <h5 class="name"><span id="first-letter">B</span>oire suffisamment d'eau</h5>

            <p>L’eau est indispensable à l’ensemble des processus vitaux,
               et il est généralement recommandé d’en boire 1 à 2 litres par jour.
                La sensation de soif est déjà le signe d’une déshydratation, il est
                donc important de répartir sa consommation d’eau tout au long de la journée.</p>
</div>


<div class="card-advice">
          <h5 class="name"><span id="first-letter">R</span>emplacer le café par du thé</h5>

              <p>Pour se réveiller le matin, le thé, et notamment le thé vert, est
                 une excellente alternative au café. En effet, il est bien plus riche
                  en antioxydants, qui permettent de prévenir les maladies cardiovasculaires,
                  certains cancers et d’autres maladies liées au vieillissement.</p>
</div>


<div class="card-advice">
            <h5 class="name"><span id="first-letter">E</span>viter le tabac</h5>

                  <p>Le tabac est responsable de nombreux troubles graves comme les maladies
                    cardiovasculaires, les cancers (et plus précisément le cancer du poumon),
                     l’infertilité ou la bronchite chronique. Si arrêter de fumer n’est pas simple,
                     cela constitue une étape déterminante vers une meilleure santé.</p>
</div>


<div class="card-advice">
              <h5 class="name"><span id="first-letter">E</span>ssayer de limiter la position assise au travail</h5>

                  <p>Le travail de bureau entraîne une sédentarité qui favorise les problèmes
                    de santé comme l’obésité ou les maux de dos. Se déplacer au moment de la pause
                    déjeuner, se lever pour prendre des pauses régulières, permettent de limiter
                    les dégâts de la sédentarité, en plus d’améliorer la concentration.</p>
</div>


<div class="card-advice">
                <h5 class="name"><span id="first-letter">B</span>ien dormir</h5>

                    <p>Notre corps se régénère et se répare durant la nuit, c’est pourquoi il est
                     important de faire de bonnes nuits de sommeil. Un adulte moyen a besoin de dormir
                      entre 7 et 9 heures par nuit, alors trouvez votre rythme ! Le fait de pouvoir être
                      fonctionnel tout au long de la journée est la preuve que l’on a bien dormi.</p>
</div>


<div class="card-advice">
                  <h5 class="name"><span id="first-letter">S</span>e détendre</h5>

                    <p>L’augmentation du nombre d’activités quotidiennes augmente le stress,
                       il est donc essentiel de pouvoir faire des pauses dans son rythme de vie.
                       Prenez donc le temps de pratiquer régulièrement une activité qui vous fait
                        du bien : une sieste, de la lecture, ou encore regarder un film.</p>
</div>


<div class="card-advice">
                    <h5 class="name"><span id="first-letter">F</span>aire des sorties</h5>

                        <p>Nous sommes des êtres sociables, et le fait de faire partie d’un club,
                            d’une association, d’une équipe de sport… permet de se créer une identité
                           et d’améliorer sa santé physique et mentale. Réciproquement, les personnes
                           seules ont un risque accru de morbidité et de mortalité.</p>
</div>


<div class="card-advice">
  <h5 class="name"><span id="first-letter">A</span>voir une passion ou poursuivre un objectif</h5>

                          <p>Une activité ou un but qui nous tient à cœur, quel qu’il soit,
                             constitue un moteur et contribue à donner un sens à sa vie, ce qui
                             est excellent pour le moral. Le fait de ne pas savoir où l’on va peut
                            entraîner de nombreuses remises en question et, à terme, provoquer des
                             dépressions.</p>
</div>



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>
</html>
