<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/mdp.css">
    <title></title>
  </head>
  <body>

      <div class="home">
      <!-- NAVBAR DU HAUT -->
    <navbar>
      <div class="title">
        <div class="liseret"></div>
<span><h6 class="brand_name"><a href="/dashboard"class="btn-principal" type=""><span id="first-letter">V</span>ivo</a></h6></span></div>
    </navbar>
  <!-- FIN NAVBAR -->
<div class="center">
  <h1 class="title">Modifier le mot de passe</h1>
  <form action="/newMdp" method="post">
    <div class="form-group">
      <label for="exampleInputEmail1">Mot de passe</label>
      <input type="password" class="form-control" id="mot de passe" aria-describedby="emailHelp" placeholder="Mot de passe" name="motdepasse">

    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Vérifiez</label>
      <input type="password" class="form-control" id="verifier" placeholder="Vérifier" name="verifier">
    </div>

    <button type="submit" id="btn-secondary" class="btn btn-primary">Enregistrer</button>
  </form>
</div>


</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>
</html>
